@font-face {
  font-family: GothamPro;
  font-style: normal;
  src: url("~/assets/font/GothamPro-Bold.eot");
  src: url("~/assets/font/GothamPro-Bold.woff") format("woff"),
    url("~/assets/font/GothamPro-Bold.ttf") format("truetype");
  src: local(※), url("~/assets/font/GothamPro-Bold.woff") format("woff");
  font-weight: 800;
}

#app {
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
}
img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  vertical-align: bottom;
}
.emoji-save-section{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1;
  background-color: #f2f2f2;
  height: 48px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: "Noto Sans KR", SF UI Display, sans-serif;
}
.emoji-save-section .emoji-cancel{
color: #F00062;
}
.emoji-save-section .emoji-save{
  color: #4146E6;
}

.list-container {
  padding-top: 20px;
  padding-bottom: 56px;
}
.card {
  width: auto;
  height: 430px;
  margin: 0 20px 16px;
  position: relative;
  font-family: "Noto Sans KR", SF UI Display, sans-serif;
}

.card-side {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 16px 40px -10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card-side-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-side-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: flex;
}

.card .card-side-front.active {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card .card-side-back.active {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.info-date {
  display: flex;
}
.info-date-month {
  color: rgba(34, 34, 34, 1);
  font-size: 20px;
  letter-spacing: 0px;
  font-family: GothamPro, SF UI Display, sans-serif;
  font-weight: 800;
  padding-right: 8px;
  line-height: 32px;
}
.info-date-day {
  color: rgba(34, 34, 34, 1);
  font-size: 20px;
  letter-spacing: -1px;
  font-family: GothamPro, SF UI Display, sans-serif;
  font-weight: 800;
  line-height: 32px;
}
.info-options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.option-item {
  width: 32px;
  margin-left: 8px;
  position: relative;
}

.card-info-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 32px;
}

.emoji-container {
  width: 100%;
  height: 240px;
  margin-top: 56px;
}
.emoji-group {
  width: 240px;
  height: 240px;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  margin: 0 auto;
}

.emoji-item {
  position: relative;
}

.emoji-item img {
  position: absolute;
}

.emoji-item.selected {
  border: 2px solid #4146E6;
  border-radius: 8px;
}
.emoji-item.default::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("~/assets/images/no_image.png");
  background-size: cover;
}

.card-close {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 32px;
}
.text-section {
  margin: 0 auto;
  margin-top: 80px;
}
.text-section .info-date {
  margin: 0 auto;
}

textarea {
  width: 240px;
  margin-top: 24px;
  border: none;
  font-size: 16px;
  padding: 0;
  font-family: "Noto Sans KR", SF UI Display, sans-serif;
  line-height: 24px;
  color: #222222;
  opacity: 0.6;
  resize: none;
  word-wrap: break-word;
  word-break: keep-all;
}
textarea:focus {
  outline:   none;
}

.bottom-nav {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 0 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.btn-bottom-option {
  width: 30px;
  height: 30px;
  padding-top: 13px;
}

.btn-today {
  background: #000124;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  height: 48px;
  margin-top: 4px;
  padding: 0 24px;
  font-family: GothamPro, SF UI Display, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  color: white;
}

.btn-save {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 0 20px;
  background-color: #000124;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  color: white;
}

.wrapper[data-open="1"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.bottomcard {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px 12px 0 0;
  left: 0;
}

.bottomcard[data-state="open"],
.bottomcard[data-state="close"] {
  transition: top 0.3s ease-out;
}

.bottomcard[data-state="close"] {
  box-shadow: none;
}

.bar {
  width: 36px;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  cursor: pointer;
  background: #222222;
  opacity: 0.2;
}

.pan-area {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 16px;
}

.pan-area .bar:hover {
  cursor: grab;
}

.pan-area .bar:active {
  cursor: grabbing;
}

.contents {
  overflow-y: scroll;
  max-height: 100%;
  padding-bottom: calc(100vh * 0.2);
  box-sizing: border-box;
  margin-top: 30px;
}


/* bottom sheet:: emoji */

.bottom-sheet-emoji {
  position: relative;
  height: calc(45vh - 30px);
  overflow-y: scroll;
}
.bottom-sheet-emoji .emoji-option {
  position: fixed;
  overflow-x: scroll;
  left: 0;
  right: 0;
  height: 48px;
  background-color: white;
  border-radius: 12px 12px 0 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.bottom-sheet-emoji .emoji-option::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.bottom-sheet-emoji .tabs {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 12px;
  padding: 0 16px;
  background-color: white;
  position: absolute;
  overflow-x: auto;
}
.bottom-sheet-emoji .tab-option {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  margin: 0 4px;
  opacity: 0.3;
}
.bottom-sheet-emoji .tab-option.active {
  background-color: #f2f1f5;
  opacity: 1;
}
.bottom-sheet-emoji .tab-content {
  margin: 0 16px;
  padding-top: 48px;
  padding-bottom: 20px;
}
.bottom-sheet-emoji .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}


/* bottom sheet:: setting */

.bottom-sheet-setting {
  height: calc(45vh - 30px);
  overflow-y: scroll;
  font-family: "Noto Sans KR", SF UI Display, sans-serif;
}
.setting-section {
  width: 300px;
  margin: 0 auto;
}
.account-section {
  margin: 32px 0;
}
.account-section h1 {
  font-weight: 800;
  font-size: 24px;
  font-family: GothamPro, SF UI Display, sans-serif;
}
.btn-feedback {
  width: 300px;
  height: 48px;
  background: #000124;
  border-radius: 16px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.btn-logout {
  margin-top: 16px;
  width: 300px;
  height: 48px;
  background: #fff;
  border-radius: 16px;
  color: #222;
  font-size: 14px;
  border: 1px solid #000124;
  line-height: 20px;
}
.version {
  width: 300px;
  margin: 16px 0;
  color: rgba(34, 34, 34, 0.6);
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  background-color: transparent;
}


/* bottom sheet:: calendar */
.bottom-sheet-calendar {
  height: calc(65vh - 30px);
  overflow-y: scroll;
  font-family: "Noto Sans KR", SF UI Display, sans-serif;
}
#single-date-picker {
  margin: 0 20px;
}
.single-date-picker__today {
  border-radius: 16px;
  background: rgba(91, 96, 233, 0.2);
  font-weight: 800;
  color: #4146E6;
}
.single-date-picker__selected {
  border-radius: 16px;
  background-color: #4146E6;
  font-weight: 800;
  color: white;
}
.single-date-picker__calendar-month-header {
  display: flex;
  justify-content: space-between;
}
.single-date-picker__year {
  margin: 18px 0;
  font-size: 20px;
}
.single-date-picker__year strong {
  font-family: GothamPro, SF UI Display, sans-serif;
  font-weight: 800;
}
.single-date-picker__arrow {
  width: 24px;
  margin: 18px 0;
}
.single-date-picker__calendar-month {
  width: 100%;
}
.single-date-picker__calendar-week-header {
  line-height: 38px;
  color: #888888;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}
.single-date-picker__date {
  font-size: 16px;
  line-height: 38px;
  width: 38px;
  margin: 6px auto;
  text-align: center;
  box-sizing: border-box;
  cursor: default;
  color: #222;
}
.single-date-event {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #4146E6;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
}
td {
  position: relative;
}


/* login */

.login-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans KR", SF UI Display, sans-serif;
}
.login-contents form {
  display: flex;
  flex-direction: column;
}
.title-section img {
  width: 300px;
  object-fit: cover;
  margin-bottom: 32px;
}
.input-section {
  border-radius: 16px;
  background-color: #f2f2f2;
  width: 300px;
  margin-bottom: 8px;
}
input {
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  width: 300px;
  height: 48px;
  padding: 0 20px;
  font-size: 14px;
  color: #222222;
  line-height: 20px;
  caret-color: #4146E6;
}

input::placeholder {
  color: rgba(34, 34, 34, 0.6);
}
input:focus {
  outline: none;
}
input:invalid {
  border-bottom: 1px solid red;
}
.input-email {
  border-bottom: 1px solid #fff;
}
.check-section {
  width: 300px;
  margin-bottom: 16px;
}

.check-section input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.check-section input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.6);
  line-height: 20px;
}
.check-section input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #f2f2f2;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
} /* 보여질 부분의 스타일을 추가하면 된다. */
.check-section input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background-color: #000124;
  background-image: url("~/assets/images/ico_check.png");
  background-repeat: no-repeat;
  background-size: 20px;
}

.btn-login {
  height: 48px;
  background: #000124;
  border-radius: 16px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.btn-signin {
  margin-top: 16px;
  height: 48px;
  background: #fff;
  border-radius: 16px;
  color: #222;
  font-size: 14px;
  border: 1px solid #000124;
  line-height: 20px;
}


/* signin */

.signin-container {
  height: 100vh;
  background-color: #fff;
  position: relative;
  font-family: "Noto Sans KR", SF UI Display, sans-serif;
  word-wrap: break-word;
  word-break: keep-all;    
}
.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: transparent;
}
.btn-close img {
  width: 24px;
  height: 24px;
}
.signin-contents form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.title-section {
  width: 300px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.title-section h1 {
  font-size: 24px;
  font-weight: 800;
  color: #222222;
  letter-spacing: -1px;
  padding-bottom: 8px;
}
.title-section span {
  opacity: 0.6;
  font-size: 16px;
  color: #222222;
  line-height: 24px;
}
select {
  border-radius: 16px;
  background-color: #f2f2f2;
  border-width: 0;
  box-sizing: border-box;
  width: 300px;
  height: 48px;
  padding: 0 20px;
  font-size: 14px;
  color: #222222;
  line-height: 20px;
  background-image: url("~/assets/images/ico_arrow_down.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 24px;
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none; /* 화살표 없애기 for firefox*/
  appearance: none; /* 화살표 없애기 공통*/
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
.gender-section {
  border-radius: 16px;
  background-color: #f2f2f2;
  width: 300px;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}
.gender-section input {
  display: none;
}
.gender-section input:checked + label {
  background-color: #000124;
  border-radius: 16px;
  color: #fff;
}
.gender-section label {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 100px;
  height: 48px;
  padding: 14px 0;
  font-size: 14px;
  color: #222222;
  line-height: 20px;
}
.btn-completed {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 0 20px;
  background-color: #000124;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  color: white;
  line-height: 20px;
}


/* feedback */

.feedback-container {
  height: 100vh;
  background-color: #fff;
  position: relative;
  font-family: "Noto Sans KR", SF UI Display, sans-serif;
}
.feedback-container .input-section {
  border-radius: 16px;
  background-color: #f2f2f2;
  width: 300px;
  margin-bottom: 16px;
}
.feedback-container .input-section textarea {
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  width: 300px;
  margin-top: 0;
  padding: 20px;
  font-size: 14px;
  color: #222222;
  line-height: 20px;
  caret-color: #4146E6;
}
